<div class="sidebar" data-color="purple" data-image="images/sidebar-1.jpg">

    <div class="logo">
        <a href="/" class="simple-text">
            SmartEO
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="aaa/dashboard.html">
                    <span class="glyphicon glyphicon-dashboard"> Dashboard</span>
                </a>
            </li>
            <li>
                <a ui-sref="error" href="user.html">
                    <span class="glyphicon glyphicon-envelope"> User Profile</span>
                </a>
            </li>
            <li>
                <a href="table.html">
                    <span class="glyphicon glyphicon-envelope"> Table List</span>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <span class="glyphicon glyphicon-envelope">Typography</span>
                </a>
            </li>
            <li>
                <a href="icons.html">
                    <i class="material-icons">bubble_chart</i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <span class="glyphicon glyphicon-map-marker"> Maps</span>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <span class="glyphicon glyphicon-bell"> Notifications</span>
                </a>
            </li>
            <li class="active-pro">
                <a href="upgrade.html">
                    <span class="glyphicon glyphicon-triangle-top">Upgrade to PRO</span>

                </a>
            </li>
        </ul>
    </div>
</div>
